@font-face {
  font-family: 'Alfa';
  src: url('../fonts/Alta_caption.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Glacial Indifference';
  src: url('../fonts/GlacialIndifference-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}



body {
    /* font-family: "Marcellus", serif; */
    font-family: 'Glacial Indifference', sans-serif;
    /* background-color: #304747; */
    background-color: black;
    color: #D3B88C;
    text-align: justify;
    overflow-x:hidden !important;
}

.section-title
{
  text-align: center;
  font-family: 'Alfa', serif;
}

.section-title p {
  font-family: "Marck Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.section-title img {
  width: 40px;
  height: 30px;
}

hr {
  background-color: #D3B88C;
}

/* ---------- Navbar ---------*/
#ftco-navbar {
    background-color: black;
}

/* Navbar items in gold color */
.navbar-nav .nav-link {
    color: #928b7f !important;
}

/* Order Now link with gold border */
.navbar-nav .order-now-link p{
    color: #D3B88C !important; /* Set the text color to gold */
    border: 2px solid #D3B88C; /* Set a gold border */
    border-radius: 10px; /* Add some border radius for roundness */
    padding: 5px 15px; /* Add padding for spacing */
}

/* Remove background color from Order Now link */
.navbar-nav .order-now-link:hover {
    background-color: transparent !important; /* Remove background color on hover */
}


/* ---------- Hero ---------*/


.hero .carousel-item {
  position: relative; /* Ensure the container is positioned relatively */
}

.hero .carousel-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
  z-index: 1; /* Ensure the overlay sits above the image */
}

.video-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.bg-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Adjust overlay color and opacity as needed */
}


.hero .carousel-item img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: 0; /* Ensure the image sits below the overlay */
}


.hero .carousel-indicators {
  position: absolute;
  bottom: 10%;
  left: 0%;
  transform: translateY(-50%);
  z-index: 1000;
}

.hero .carousel-caption {
  /* // position: absolute;
  //top: 60%;
  //left: 10%;   */
  transform: translate(0%, -50%);
  text-align: center !important;
  color: #D3B88C;
  align-items: center !important;
  justify-content: center !important;
  z-index: 10;
  font-family: 'Alfa', serif;
}

.zoomed-out {
  transform: scale(1.6); /* Initially zoomed in */
  transition: transform 1s ease; /* Smooth transition */
}

/* .carousel-caption {
  position: absolute;
  bottom: -100px; 
  transition: bottom 1s ease; 
} */




.carousel-inner .active {
  transition: none; /* Disable transition for initial load */
}

.hero .carousel-caption h1 {
  font-size: 3rem;
  font-weight:500;
  /* text-align: left; */
  color: #D3B88C;
}


.hero .carousel-caption button {
  display: inline-block;
  padding: 8px 20px;
  background-color: transparent;
  color: #D3B88C;
  border: 2px solid #D3B88C;
  border-radius: 10px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  
  margin-top: 2%;
  text-align: left;
  color: white;
}

.hero .carousel-caption button:hover {
  background-color: #D3B88C;
  color: white;
  border-color: #D3B88C;
}

@media (max-width: 1200px) {
  .hero .carousel-caption {
    width: 70%; /* Adjust the width for smaller screens */
    
  }

  .hero .carousel-caption p {
    margin-top: 10%;
  }
}

@media (max-width: 768px) {
  .hero .carousel-caption {
    width: 90%;
    left: 5%;
    text-align: center;
    align-items: center;
  }
  .hero .carousel-caption h1 {
    font-size: 2rem; /* Adjust font size for smaller screens */  
  }
  .hero .carousel-caption p {
    margin-top: 10%;
    text-align: left;
    padding-right: 20px;
    margin-right: 10px;
    font-size: 0.8 rem;
  }
  .hero .carousel-caption button {
    
   font-size: medium;
  }
}

@media (max-width: 413px)
{
  .hero .carousel-caption  h1{
    width: 100%;
    align-items: center;
  }
  
  .hero .carousel-caption button {
    
    font-size: small;
   }
}

@media(max-width:281px)
{
  .hero .carousel-caption h1{
    width: 100%;
    font-size: medium;
  } 

  
  .hero .carousel-caption button {
    font-size: 1 rem;
  }
}

carousel-caption h1{
  position: absolute;
  bottom: 0; /* Initially hidden at the bottom */
  left: 0;
  right: 0;
  color: #fff; /* Adjust text color as needed */
  padding: 20px; /* Adjust padding as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: bottom 1s ease; /* Smooth transition */
}

/* Adjust bottom position based on screen size */
@media (max-width: 767px) {
  .carousel-caption h1 {
    bottom: 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .carousel-caption h1{
    bottom: 10%;
  }
}

@media (min-width: 992px) {
  .carousel-caption h1{
    bottom: 20%;
  }
}

/* ---------- Chef ---------*/
.chef {
  margin-top: 50px;
}
.chef .carousel-item img{
    height: 500px;
    object-fit: cover;
}

.chef p{
  color: white;
}

@media (max-width :768px){
  .chef .symbol{
    display: none;
  }
}
/* -----------Menu Tabs -------*/
.menu-tabs {
  width: 100vw !important;
  overflow-x: hidden;
}


.tab-pane img {
  /* height:400px;*/
  width: 250px; 
  margin-bottom: 10px;
}



.menu-tabs .nav-link {
  color: #D3B88C;
}

.menu-tabs .nav-link.active {
  color: #D3B88C;
  background-color: transparent;
}

.menu-tabs .nav-link:hover {
  color: #D3B88C;
  background-color: white;
}



.menu-tabs a {
  font-size: larger;
}

.menu-tabs .nav-pills {
  justify-content: center;
  padding-top: 70px;
  padding-left: 30px;
}

.tab-pane {
  display: none; /* Initially hide all tab panes */
}

.tab-pane.active {
  display: block; /* Show active tab pane */
}



@media (max-width : 900px)
{
  .tab-pane img {
    height:auto;
    width: 60vw;
  }
  .menu-tabs .nav-pills {
    justify-content: center;
    /* padding-top: 70px;
    padding-left: 30px; */
  }

  .menu-tabs .nav-link {
   
  }
}

/* --------- About -----------*/



.about i {
  font-size: 48px;
}

.about .spinning {
  display: none; 
  position: absolute;
  left: 70%;
  padding-bottom: 50px;
}

.about .spinning p {
  display: none;
  height: 300px;
  width: 300px;
  position: relative;
  animation: effect 15s linear infinite;
}

@keyframes effect {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.about span {
  position: absolute;
  left: 50%;
  transform-origin: 0px 150px;
  transform-style: flat;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  color: #D3B88C;
}

@media screen and (min-width: 900px) {
  .about .spinning {
    display: block;  }
  .about .spinning p {
    display: block;  }
}

/* .circle-text {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #333;
  color: white;
  font-size: 18px;
  text-align: center;
  line-height: 200px;
  position: relative;
  animation: spin 10s linear infinite;
  
}

@keyframes spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

.spinning {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  z-index: 100;
} */

  

  /*------- Gallery -----*/
  .gallery img {
      width: 250px;
      height: 300px;
      /* padding: 10px; */
      padding-bottom: 10px;
  }

 

  /* Styles for modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 40%;
  top: 0;
  /* width: 100%; */
  width: 300px;
  height: 500px;
  overflow: auto;
  background-color: rgba(0,0,0,0);
}

@media (max-width : 900px)
{
  .modal {
    left: 10%;
  }
}
.modal-content {
  margin: auto;
  display: block;
  /* max-width: 80%; */
  max-height: 400px;
  padding: 5%;
}

.close {
  color: white;
  position: absolute;
  top: 15px;
  right: 35px;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}


  /*------ Contact -----*/
  /* .container .map {
   
    float: left;
  }
  .container .contact-form {
    width: 100%;
    margin-left: 2%;
    float: left;
    align-items: center;
  }
  .container .contact-form .title {
    font-size: 2.5em;
    font-weight: 700;
    color: #242424;
    margin: 5% 8%;
  }
  .container .contact-form .subtitle {
    font-size: 1.2em;
    font-weight: 400;
    margin: 0 4% 5% 8%;
  }
  .container .contact-form input,
  .container .contact-form textarea {
    width: 500px;
    padding: 3%;
    margin: 2% 8%;
    color: #D3B88C;
    border: 1px solid #D3B88C;
    background-color: transparent;
  }
  .container .contact-form input::placeholder,
  .container .contact-form textarea::placeholder {
    color: #D3B88C;
  }
  .container .contact-form .btn-send {
    background:transparent;
    width: 180px;
    height: 60px;
    color: #D3B88C;
    font-weight: 700;
    margin: 2% 8%;
    border: 1px solid #D3B88C;
  } */

  .contact{
    margin-top: 60px;
  }

  .contact input,
  .contact textarea
  {
    color: #D3B88C;
    border: 1px solid #D3B88C;
    background-color: transparent;
  }

  .contact input ::placeholder,
  .contact textarea ::placeholder{
    color: #D3B88C;
  }

  .contact .btn {
    background:transparent;
    width: 180px;
    height: 60px;
    color: #D3B88C;
    font-weight: 700;
    margin: 2% 0%;
    border: 1px solid #D3B88C;
  }


  /* ------ Footer ------*/
  footer .logo-name {
      width: 200px;
      padding-bottom: 10px;
  }
  footer .logo-name2 {
    width: 200px;
    padding-bottom: 50px;
}
  footer {
    padding-top: 200px;
    padding-bottom: 200px;
  }

  footer a p{
    color: #D3B88C;
  }

  .footer {
    background-color: #000;
    color: #aa8e62;
    padding: 20px 0;
  }
  .footer .bg {
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
      height: 400px; /* Ensure it covers the entire container */
      /* object-fit: cover; */
      overflow-x: hidden;
    
  }

  .footer .divider1 {
    border-top: 1px solid #aa8e62;
    width: 60%; 
  }

  .footer .vertical-divider {
    border-left: 1px solid #aa8e62;
    height: 50%;
    position: absolute;
    left: 100%;
    top: 0;
    transform: translateX(-50%);
    z-index: 100;
  }
  .footer-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  }

  

  .footer .bg-content{
    height: 300px;
  }
  
  .footer a {
    color: #aa8e62;
    text-decoration: none;
  }
  .footer .social-icons img {
    width: 40px;
    height: 40px;
    margin: 0 10px;
  }
  .footer .contact-info {
    line-height: 1.6;
  }
  .footer .border-line {
    border-right: 1px solid #d5b77a;
    height: 100px;
    margin: 0 20px;
  }

  .semicircle-wrapper {
    position: absolute;
    bottom: 0;
    right: 10;
    top:0%;
    width: 200px; /* Half of the circle's width */
    height: 200px; /* Half of the circle's height */
    overflow: hidden !important; /* Hide the other half of the circle */
    transform: translate(50%, 50%); /* Adjust as needed for positioning */
    transform-origin: bottom right;
    overflow: hidden !important;
  }
  
  .semicircle {
    width: 200px; /* Full width of the circle */
    height: 200px; /* Full height of the circle */
    background-color: transparent;
    border: 2px solid white; /* White border */
    border-radius: 50%; /* Full circle */
    margin: 0;
    padding: 0;
    overflow: hidden !important;
  }

  @media (min-width: 991.98px) 
  {
    /* .footer .contact-info {
      display: flex;
      flex-direction: column;
      justify-content: center; 
      height: 100%;
    } */
  }

  @media (max-width: 991.98px) {
    footer .divider1{
      display: none;
    }

    footer .logo-name {
      width: 100px;
  }

    footer .vertical-divider{
      display: none;
    }

    
}

@media (max-width: 767px){
  footer .divider1{
    display: none;
  }

  footer .logo-name {
    width: 200px;
}

  footer .vertical-divider{
    display: none;
  }

  footer .bg{
    display: none;
  }
}

  /*---- New Menu Page ------*/
  .fl-image-container {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../shared_images/P2030100.JPG') no-repeat center center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow-x:hidden !important;
}

.fl-text-container {
    z-index: 1;
    text-align: left;
    background: rgba(0, 0, 0, 0.5); /* Optional for better text visibility */
    padding: 20px;
}

.fl-text-container h1 {
  color: #aa8e62;
  position: relative;
  display: inline-block;
  padding-bottom: 0.5rem;
}

.fl-text-container h1::after {
  content: '';
  display: block;
  width: 50px; /* Adjust the width as needed */
  height: 3px; /* Adjust the height as needed */
  background-color: #aa8e62;
  margin-top: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
}

.fl-text-container h6 {
  color: #ffffff;
  margin-top: 1rem;
  font-size: 1.2rem; /* Increase the size of paragraph text */
  letter-spacing: 1px; /* Increase spacing between letters */
  margin-bottom: 1rem;
}

.fl-image-container {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../shared_images/6.png') no-repeat center center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow-x:hidden !important;
}


.semicircle-wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  top:90%;
  width: 100px; /* Half of the circle's width */
  height: 200px; /* Half of the circle's height */
  overflow: hidden !important; /* Hide the other half of the circle */
  transform: translate(50%, 90%); /* Adjust as needed for positioning */
  transform-origin: bottom right;
  
}

.semicircle {
  width: 200px; /* Full width of the circle */
  height: 200px; /* Full height of the circle */
  background-color: transparent;
  border: 2px solid white; /* White border */
  border-radius: 50%; /* Full circle */
  margin: 0;
  padding: 0;
  overflow: hidden !important;
}




/* Remove background image for large screens */
@media (min-width: 992px) {
    .flavors-section {
        background: none;
    }

    .fl-image-container {
        display: block;
    }
}

@media (max-width: 991.98px) {
    .fl-image-container {
        display: none;
    }

    /* .semicircle {
      display: none; 
  } */
}

.menu-section h2 {
  color: #aa8e62;
  position: relative;
  display: inline-block;
  padding-bottom: 0.5rem;
}

.menu-section h2::after {
  content: '';
  display: block;
  width: 50px; /* Adjust the width as needed */
  height: 3px; /* Adjust the height as needed */
  background-color: #aa8e62;
  margin-top: 0.5rem; /* Center the line vertically */
  position: absolute;
  bottom: 0;
  left: 50%; /* Center the line horizontally */
  transform: translateX(-50%); /* Center the line horizontally */
}

.menu-section .highpoints p{
  font-size: larger;
}

.food-menu-items {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 1.2em; /* Adjust as needed */
}

.food-menu-items span {
  position: relative;
  padding: 0 20px; /* Adjust padding for spacing around the separator */
margin-left: 20px;
}

.food-menu-items span::after {
  content: "|";
  position: absolute;
  right: -15px;
  padding-left: 10px;
}

.food-menu-items span:last-child::after {
  content: "";
}

.food-menu-small{
  display: none;
}
/* Media query for smaller screens */
@media (max-width: 480px) {

  .food-menu-items{
    display: none;
  }

  .food-menu-small{
    display: block;
  }
  /* .food-menu-items {
    flex-direction:row;
    align-items:center;
  }

  .food-menu-items span {
    padding: 5px 0; }

  .food-menu-items span::after {
    display: none; }

  .food-menu-items span::after {
    content: "";
    display: block;
    position: static;
    margin: 5px 0;  } */
}


.menu-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.menu-button-container .menu-button button{
  background-color: rgb(248, 231, 195);
  color: #aa8e62;
  border-radius: 50px;
  margin-bottom: 10px;
  width: 20vw;
  height: 60px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
}

.menu-button-container .menu-button button:hover {
  background-color: #aa8e62;
  color: white;
  text-decoration: none !important;
}

.menu-button-container .menu-button:hover{
  text-decoration: none !important;
}
.btn {
  width: 100%;
}
/* Media query for larger screens */
@media (min-width: 768px) {
  .menu-button-container .menu-button button {
    width: 30vw;  
  }
}



/* Media query for smaller screens */
@media (max-width: 768px) {
  .menu-button-container .menu-button button {
    width: 40vw; 
    font-size: smaller;
  }
}
/* .semicircle1 {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 400px; 
  height: 400px; 
  background-color: transparent;
  border: 2px solid white;
  border-radius: 50%; 
  transform: translateY(50%) translateX(-50%);
  transform-origin: bottom center;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
} */


/* .semicircle1-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  top:200%;
  width: 200px; 
  height: 200px; 
  overflow: hidden; 
  transform: translateY(50%) translateX(-30%);
  transform-origin: bottom left;
} */

.semicircle1 {
  position: absolute;
  bottom: 0;
  left: 0;
  top:-70vh;
  width: 400px; /* Full circle diameter */
  height: 400px; /* Full circle diameter */
  background-color: transparent;
  border: 2px solid white; /* White border */
  border-radius: 50%; /* Full circle */
  transform: translateY(100%) translateX(-30%);
  transform-origin: bottom left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-logo-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%; /* Ensure container takes full height */
  padding: 20px;  
}

.social-logo {
  max-width: 80px;   
  max-height: 80px;   
  margin: 10px 0;   
}

.rounded-square {
  border-radius: 15px; /* Adjust this value for more or less rounding */
}

 /* Media Queries */
 @media (max-width: 767px) {
  .semicircle1-wrapper {
    display: none;
  }

  .menu-button-container .btn {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .semicircle2-wrapper {
    display: none;
  }
}

@media (max-width: 376px){

  .menu-section{
    margin-top: 20px;
    margin-bottom: 20px;
  }

}

  /* ----- Actual Menu Page -----*/
  .actual-menu .nav-link{
    color: #D3B88C !important; /* Set the text color to gold */
    border: 2px solid #D3B88C; /* Set a gold border */
    border-radius: 50px; /* Add some border radius for roundness */
    padding: 30px 50px;
    background-color: transparent;
    font-size: larger;
    width: 70%;
  }


  .actual-menu .nav-link.active{
      background-color: #D3B88C !important;
      color: white !important;
      
  }

  .actual-menu .pricediv
  {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .actual-menu .longprice{
    position: absolute; 
    top: 0;
     right: 0;
     /* text-align: left!important;
     width: auto; */
  }

  .actual-menu .price {
    /* position: static;  */
    text-align: left; /* Align text to the left */
    margin-top: 5px; /* Add margin if needed */
    width: auto;
    white-space: nowrap; /* Prevent text wrapping */
}




  .actual-menu .largename{
    display: block;
  }
  
  .actual-menu .smallname
  {
  display: none;
  }

  .actual-menu .bigscreen{
    display: block;
  }
  
  .actual-menu .smallscreen
  {
  display: none;
  }

  @media only screen and (max-width:1200px){
    .actual-menu p {
      word-break: break-word; /* Allow long words to break */
      font-size: small;
  }
  
  .actual-menu h5 {
    font-size: medium;
  }
  
  .actual-menu span {
    font-size: smaller;
  }

  .actual-menu .price{
    font-size: x-small;
  }
  }

/* Media query for mobile devices */
@media only screen and (max-width: 767px) {
  .actual-menu .nav-link{
    font-size: small;
    padding: 7px 12px;
    
    width: 100%;
  }

  .actual-menu .pricediv {
      flex-direction: column;
      align-items: flex-end;
  }

  .actual-menu .col-md-8 {
      order: 2; /* Change the order of the column */
  }

  .actual-menu .col-md-4 {
      order: 1; /* Change the order of the column */
  }
  .actual-menu .col-md-6 {
    order: 2; 
}

  .actual-menu .first{
      order: 1; 
  }

  .actual-menu .second {
    order:3;
    margin-bottom: 20px;
    margin-top: -15px;
  }

  .actual-menu .second1 {
    order:3;
    margin-bottom: 20px;
    margin-top: -30px;
  }

    .actual-menu p {
      word-break: break-word; /* Allow long words to break */
      font-size: xx-small;
  }

  .actual-menu h5 {
    font-size: smaller;
  }

  .actual-menu span {
    font-size: xx-small;
  }

  .actual-menu .price {
    font-size: xx-small;
    
  }

  

  .actual-menu .row > [class*="col-"] {
    flex-basis: 100%; /* Make columns take full width on smaller screens */
    
  }

  .actual-menu .largename{
    display: none;
  }

  .actual-menu .smallname
  {
  display: block;
  }
    .colon {
      display: none;
    }
  
    .actual-menu .mobile-first {
      order: 1;
    }

    .actual-menu .bigscreen{
      display: none;
    }
    
    .actual-menu .smallscreen
    {
    display: block;
    }
}

  .menu-heading {
    position: relative;
    overflow: hidden;
    text-align: left;
    left: -20px;
}

.menu-content span {
  font-style: italic;
  text-align: left !important;
  }

  .menu-content p{
    text-align: left;
  }

/* .circle {
    position: absolute;
    background-color: transparent;
    border: 1px solid #D3B88C;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

.circle:nth-child(1),
.circle:nth-child(7) {
    left: 10%;
}

.circle:nth-child(6){
  right: 10%;
}

.circle:nth-child(2) {
    left: 8%;
    width: 7px;
    height: 7px;
}

.circle:nth-child(3),
.circle:nth-child(5) {
    right: 8%;
    width: 7px;
    height: 7px;
} */

.actual-menu img {
  /* width: 200px; */
  /* width: 100%; */
  padding: 10px;
}

@media (max-width: 300px) {
  .actual-menu .col-6 {
      flex-basis: 100%!important;
      width: 100vw !important;
      flex: 0 0 100%;
    max-width: 100%;
  }
}

/* Default styles */
.actual-menu .nav.nav-pills.nav-justified li {
  flex: 1; /* Equal width for each item */
}

/* Media query for small screens */
@media (max-width: 767px) {
  .actual-menu .nav.nav-pills.nav-justified {
      font-size: smaller; /* Adjust font size */
  }
  .actual-menu .nav.nav-pills.nav-justified li {
      padding: 5px; /* Adjust padding */
  }
}


  /*------ Events ------*/
  .event1 img{
    width: auto;
    height: 300px;
    margin-bottom: 10px;
  }

  .event2 .card {
    background-color: black;
    border: 2px solid transparent; /* Set border to transparent to avoid doubling the border with box-shadow */
    box-shadow: inset 0 0 0 1px #D3B88C; /* Adjust box-shadow to create a border inside the outline */
    margin-top: -350px;
  }



  .whatsapp-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.whatsapp-icon img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

.whatsapp-icon img:hover {
  transform: scale(1.1);
}
